[2021-06-19 19:17] ansh-saini commented on #1896
@bitwiseman There seems to be no activity on that PR. Can I take this up?

[2021-06-19 20:01] bitwiseman commented on #1896
@ansh-saini
Yes, feel free.

[2021-06-20 08:16] ansh-saini commented on #1896
Hey @bitwiseman I've been exploring the js beautifier source code since a few hours. I can't seem to find where I should make the change. I tried a few things but no luck there. I also tried doing what @Alzamer did in their PR but that does not seem to fix the problem fully.
Although I found that this is not just an issue with the bitwise operator.
Try beautifying this on [the website](https://bea

[2021-06-22 07:56] hmnd opened #1946 "Handlebars partial blocks with parameters incorrectly formatted"
# Description
Handlebars partial blocks are not correctly formatted when there is anything after the partial's name (including whitespace). This breaks formatting for partial blocks with parameters.

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like th

[2021-06-22 18:34] toastyghost commented on #1404
Bumping for interest… can't for the life of me figure out a way to have one attribute per line only if the single-line version would exceed the line length limit.

[2021-06-22 18:39] Drumstix42 commented on #1404
I went for Prettier/PrettierX for now since it will do that. But know it does handle some other formatting slightly differently, and you may or may not like it. Check it out.

[2021-06-22 19:42] toastyghost commented on #1404
I'm using Prettier for now and it is better than the janky stuff that was happening w/ jsbeautify, but I don't see any way to configure it within the UI in VS Code. Any thoughts on that?

[2021-06-23 21:56] #1946 closed

[2021-06-23 21:56] #1683 closed

[2021-06-23 22:02] bitwiseman commented on #1896
@ansh-saini
Yes, the semicolonless formatting issue is a know issue.

I think PR #1904 has basically the correct code it just needs tests.

[2021-06-23 22:35] lexigren commented on #1341
Any progress?

[2021-06-24 00:37] bitwiseman commented on #1341
@lexigren
PRs welcome.

[2021-07-01 10:44] RaoHai opened #1950 "Do not remove whitespace after number"
# Description
Whitespace after number have been removed, which will case an `Uncaught SyntaxError: Invalid or unexpected token` error.

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:
[code]

# Steps to Reproduce

## Enviro

[2021-07-02 15:20] 1bsilver commented on #1950
Hi, I am a beginner.
I would like to work on this issue.
Can you guide me?

[2021-07-03 09:16] bitwiseman commented on #1950
@1bsilver
Start by following the instructions in the CONTRIBUTING.md file to get your environment set up.  If you get stuck, we can discuss further on gitter.im .

[2021-07-05 23:48] vitaly-zdanevich opened #1952 "Rename project, because it beautify not only JS but CSS and HTML"
It looks strange `js-beautify -r index.html`.

Or maybe remove modules about CSS and HTML.

[2021-07-15 17:45] 4086606 commented on #1952
To me, it makes sense to move the CSS and HTML functionality to its own repository

[2021-07-16 03:18] damienfa commented on #1799
Same issue everywhere there is a "comma separated list" .

Example with list variable definition in SCSS :

**Expected :**
`$default-margin: (desktop: 24px, tablet: 16px, phone: 16px);`

**Actual :**
[code]

[2021-07-16 03:28] damienfa commented on #1236
Same problem with every comma separated list :
https://github.com/beautify-web/js-beautify/issues/1799#issuecomment-881146391

[2021-07-16 08:05] bitwiseman commented on #1952
See #193 and #1549 .

I've moved the hosting on the web to https://beautifier.io and the repo backing that site is https://github.com/beautifier/beautifier.io .  The intent is to create a package with a more generic name, supporting a new CLI command and a backward compatible `js-beautify` command.  But the task takes time which I have not had.

@4086606
Splitting CSS and HTML into their own repos

[2021-07-16 20:02] 4086606 commented on #1952
I can spin up repos for this. Proposed steps:
- Move the python directory into `beautify.py`
- Copy this repo to `beautify.js`
- Package the three libraries with a JS backend into three packages.
  => Three package.json and three CLIs with these names: `beautify-js` `beautify-css` `beautify-html`
- Rename this repo to `js-beautify` and deprecate it.

[2021-07-22 21:17] adist98 commented on #1950
Is this issue up for grabs? Interested in working on it.

[2021-07-28 08:48] kongmengfei opened #1953 "Does it require to involve all 3 js files into my html page?"
Hello ,

i am making a simple html page and use script tag to reference this js plugin to format my html code in a textarea.
I have  a simple question:  do i need to refer all 3 js files ?

`<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify-css.js"></script>
<script src="http

[2021-07-28 17:39] pranavjandu commented on #1953
The three script tags expose three functions: js_beautify, css_beautify, and html_beautify. So if you want to use html_beautify only, please use the respective tag i.e beautify-html.js

[2021-08-06 08:22] ZSaberLv0 opened #1954 "recursively sort json dicts by keys"
# Description
recursively sort json dicts by keys
disabled by default, and add an option to enable it

# Input
With this new feature, when I give like this input:
[code]

# Expected Output
I'd like to see this output:
[code]

## Environment
OS: all

[2021-08-18 06:22] sahilmore-git commented on #1950
Where can I find this code for debugging ??

[2021-08-18 06:27] sahilmore-git commented on #1954
I would like to solve this issue. It's my first fix can get some help on the procedure?

[2021-08-18 08:35] yashgandhi876 commented on #1954
I am done with code Can Someone help me with how and where I can add my code?

[2021-08-18 10:17] adrian2504 commented on #1954
i would like to work on this and this will be my first contribute

[2021-08-18 10:35] adrian2504 commented on #1954
Completed it and in which file or directory shall it update it ?

[2021-08-21 16:27] AbhishekSrivas114319 commented on #1950
Hello, I just went through the folder structure and contributing.MD file. Can you suggest to me where the beautification code is handled for this case, is it in root/js/src/javascript/beautifier.js .
I would like to solve the issue. If you can guide me a bit.

[2021-09-09 17:59] frzsombor opened #1957 "Website down (beautifier.io unexpectedly closed the connection.)"
Not an actual bug in the library, just alerting the devs that the beautifier.io website looks down for me all day today.

[2021-09-09 20:06] #1957 closed

[2021-09-09 20:08] bitwiseman commented on #1954
Um, submit a pull request?

[2021-09-09 20:10] bitwiseman commented on #1957
Should be working again now.

[2021-09-10 14:34] achyut2000 commented on #1897
hello,
can I work on this

[2021-09-10 14:35] achyut2000 commented on #1865
hello @bitwiseman I want to work on this

[2021-09-10 14:47] bitwiseman commented on #1865
Go for it.

[2021-09-19 00:43] DanKaplanSES commented on #1900
@bitwiseman your suggestion didn't work for me until I had `{ unformatted: [], inline: [] }`

[2021-10-03 11:36] immaithil commented on #1610
Can I take up this issue

[2021-10-03 12:24] malleboina opened #1958 "PLEASE ISSUE PROBIME"
# Description

## Input
The code looked like this before beautification:
[code]

## Current Output
The  code actually looked like this after beautification:
[code]

## Expected Output
The code should have looked like this after beautification:
[code]

# Environment

## Browser User Agent:
Mozilla/5.0 (X11; Linux x86_64; rv:56.0; Waterfox) Gecko/20100101 Firefox/56.2.3

Language Selected:
Beautify

[2021-10-25 11:20] jonnytest1 opened #1959 "trying to break the lines at the main operator of a javascript statement"
is this currently possible and im jsut missing the correct flag ?

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
the code should wrap at the highest operator
[code]

# Actual Output
The  code actually looked like this after beautification:
the code wrapped at the negation
[code]

# Steps to Reproduce

[2021-11-10 15:00] hbenl opened #1962 "Partial beautification with -X"
To reproduce:
[code]

Then open `beautified.js` in an editor and search for "addAnnotation". That will take you to a couple of very long lines.

[2021-11-11 17:37] olegopro opened #1963 "Don't work indent-scripts in"
Don't work in vscode with this config.

vscode version: 1.62.1
mac

"vetur.format.defaultFormatter.html": "js-beautify-html",
	"vetur.format.defaultFormatterOptions": {
		// Wrap the attribute.
		// - auto: Wraps the property only when the line length is exceeded.
		// - force: Wraps each of the other properties except the first one.
		// - force-aligned: Wraps each of the other properties except

[2021-11-18 21:11] NatoBoram opened #1964 "Support for `.html.heex`"
# Description

Phoenix is a web framework in Elixir which uses some special server-side HTML tags.

Right now, the result is pretty good. I think the only missing thing is adding an indent level when there's a `do %>` and removing one when there's an `<% end %>`. These special tags can be opened by either `<%=` or `<%`.

cc
* https://github.com/elixir-lsp/vscode-elixir-ls/issues/162
* https://gith

[2021-11-19 16:25] bnlnbWEgamUgdCdhaW1l opened #1965 "h"
# Description

## Input
The code looked like this before beautification:
[code]

## Current Output
The  code actually looked like this after beautification:
[code]

## Expected Output
The code should have looked like this after beautification:
[code]

# Environment

## Browser User Agent:
Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:94.0) Gecko/20100101 Firefox/94.0

Language Selected:
Beautify Ja

[2021-11-25 04:26] #1965 closed

[2021-11-30 22:46] Larreth commented on #1950
Agree with @bitwiseman

[2021-12-01 08:10] bharathks005 commented on #1950
Hi Team, I'm a full stack web developer, I want to contribute these project. First, I will start debug after the number whitespace remove  issue. I want to know is there any standard format for creating new branch for bug fix?

[2021-12-06 05:05] bharathks005 commented on #1835
Hi Team, I'm new to contributing a open source projects. I'm unable to run the project in my local computer. it's throws error [make × ERR  not found: make-$(BUILD_DIR)/node] could you tell me how to resolve the issue.
link [https://user-images.githubusercontent.com/36472845/144790219-e9e8d060-8dd0-49a1-8fd8-8d662199126b.png]

[2021-12-07 10:05] tenzap opened #1971 "Add an option to not indent lines containing only php (& the php tags )"
# Description
* Add an option to not indent lines containing only
`<?php`
`?>`

* This could be extended to not indent lines that have both opening & closing php tags on the same line like
`<?php echo 'do something' ?>`
(_provided that there is nothing but spaces before `<?php` and after `?>`_)

* Concerning the lines like below (that have only PHP and only the closing or opening php tag), I don't

[2021-12-07 11:38] tenzap opened #1972 "Indentation issue inside php tags on html/php"
# Description
Part of the PHP code changed while this wasn't expected: (it was indented, it lost indentation).

Command:
`html-beautify -r -t --templating=php --end-with-newline=true  -b expand "file"`

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like

[2021-12-07 11:57] tenzap commented on #1972
I just saw that there is such a terrible `<?php` inside the text of the `echo`.
That is the culprit. If I remove it, then there is no indentation issue.

So the problem is linked to the presence of some `<?php ?>` nested inside a another `<?php ?>` in this case it is hidden in a PHP string

[2021-12-08 22:27] kevinbackhouse opened #1974 "xml regex does not support nested braces"
The change that I made in #1973 might cause a backwards compatibility issue on complex XML expressions. It is able to handle expressions like this one:

https://github.com/beautify-web/js-beautify/blob/37098bafd1d22cbc5c9f1ede30268fa86e26fea2/test/data/javascript/tests.js#L2178

However, if the braces (`{`, `}`) were nested any deeper than that then it would not be able to handle it. It isn't poss

[2021-12-10 20:50] andersbystrom commented on #1940
I would also like to see an attribute that produces the above output. But only if the line length exceeds the `wrap-line-length`

Maybe you could add an additional attribute named `expand-multiline`, which respects `wrap-line-length`

By using `force-expand-multiline`, you get the above output, but it ignores `wrap-line-length`

[2021-12-16 15:24] glassesUSA opened #1975 "Text are <div> not going to new line"
# Description

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:
[code]

## Environment
OS: MacOS

## Settings
Example:
[code]

[2021-12-18 14:52] xuld opened #1976 "Support new sass `@use` syntax"
# Description
The latest sass intruduces a new [`@use` and `@forwards`](https://sass-lang.com/documentation/at-rules/use) syntax.

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:
[code]

## Settings
[code]

[2021-12-21 14:14] VladyslavG commented on #1817
vote for the issue and subscribe to updates

[2021-12-24 07:56] finalclass commented on #658
Apparently it does more then this.

**test.js**

[code]

[code]

[code]

[2021-12-29 11:24] laggingreflex opened #1978 "import.meta appears on newline"
The [`import.meta.url`](https://nodejs.org/api/esm.html#importmetaurl) is forced on new line:

# Input

[code]

# Expected

No change

# Actual

[code]

[2022-01-07 08:07] mjnaderi opened #1979 "CSS formatter does not support `django` templating"
# Description

When formatting a CSS file with django template tags or an HTML file which contains django template inside `<style>` tag, styles are not formatted correctly.

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:
[

[2022-01-12 17:16] evileyez opened #1980 "Disable beautification for math operators +, - and etc. in JS files"
# Description
Need to avoid beautifying minus symbol in .js files to work with dataset
I understand I can avoid using "-" symbol but nevertheless...?
# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:
[code]

## Environment
OS

[2022-01-25 01:54] gas0324 opened #1981 "html and typescript"
html:
I want the following format:
[code]
But now:
[code]

typescript:
I want the following format:
[code]

But now:
[code]

[2022-01-25 02:21] gas0324 commented on #1981
typescript:
I want to:
[code]
But now:
[code]

[2022-01-25 02:28] gas0324 commented on #1981
#1530

[2022-02-01 16:24] notrealjohn opened #1982 "ReDoS Vulnerability"
The most recent ReDoS fix was pushed in December but has not yet been published. Is there a rough time estimate on when we can expect this vulnerability patch to be published?

[2022-02-02 09:48] mikkorantalainen commented on #1792
I'd also want to use Allman-8 which practically means that you use 8 space width tab characters and indent everything with a single tab character instead of 1 or more spaces.

Note that **there's one special case**. Following doesn't work in JavaScript because of ASI rules which have a special exception for `return` statement:

[code]

because it will be interpreted as (note the semicolon after re

[2022-02-02 19:43] irakis opened #1983 "beautifier"
# Description

## Input
The code looked like this before beautification:
[code]

## Current Output
The  code actually looked like this after beautification:
[code]

## Expected Output
The code should have looked like this after beautification:
[code]

# Environment

## Browser User Agent:
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/53

[2022-02-02 19:44] #1983 closed

[2022-02-02 19:44] irakis commented on #1983
beautifier

[2022-02-03 14:19] bhaveshvasnani commented on #1095
@bitwiseman could I please take this issue if no one's working on this?

[2022-02-03 15:58] bitwiseman commented on #1095
@bhaveshvasnani
Feel free to work on it. I do not mean to dissuade you, but most cases of this issue are solved, but not all.  The remaining cases tend to be ones where it is hard to determine whether the operator is prefix or postfix.

Unless you feel compelled to work on this specific issue, there are plenty of others that I would suggest you work on before this one.

[2022-02-04 15:03] toastyghost commented on #1940
This has driven me insane for ages. The below seem to be the best options, but I find them both hideous and hard to read:

`<a href="https://google.com" target="_blank" class="center aligned large red text link"
   id="google-link" data-somedataprop="asdf">
  Google
</a>`

`<a
  href="https://google.com"

  Google
</a>`

[2022-02-04 19:03] bhaveshvasnani commented on #1950
@bitwiseman I do not see much progress on this so far. Also, the PR #1956 has no updates. Could you please let me know if this issue is up for grabs if the previous owner doesn't have plans to work on it? Thanks!

[2022-02-05 01:32] bitwiseman commented on #1950
@bhaveshvasnani
Go ahead and work on it. It can't hurt.

[2022-02-05 10:38] bhaveshvasnani commented on #1739
I wanted to understand what should be the ideal way to beautify this and please correct me if I'm wrong. I agree that braceless ifs are allowed for single statements and there's a big share of people who love that style of coding. From my perspective beautifying highly correlates with code readability, so should we not wrap them with braces in such cases. Or better should there a configuration set

[2022-02-05 10:40] bhaveshvasnani commented on #1950
Thanks!! I'll work on this and also agree that the fix should be in handle_dot() itself.

[2022-02-05 23:16] bitwiseman commented on #1739
At this time, The beautifier is a white space only reformatter. That means that we will not be adding braces. The expected output shown above is correct and that is what we should implement.

[2022-02-10 06:32] ljx94nb opened #1984 "How to add a trailing comma to the last field of an object when the object is written in a newline"
like this:
before beautification：

const obj = { a: 1, b: 2 };

after beautification：

const obj = {
  a: 1,
  b: 2,
};

[2022-02-10 18:40] bhaveshvasnani commented on #1950
@bitwiseman could you please provide me access to push the fix for review? Thanks!!

[2022-02-11 21:46] jimmywarting opened #1985 "feature request: cmd+enter hotkey for mac users"
# Description
On your website you have a little hot key for ctrl+enter to beautify the code
but for us mac user we hardly use the ctrl for anything...

we use cmd interested. 🙃

## Environment
OS: Mac

[2022-02-13 11:46] bhaveshvasnani commented on #1739
@bitwiseman I'm interested to work on this issue. Could I please take this up?

[2022-02-14 17:30] floreapaun opened #1986 "SVG doesn't get line wrapped"
# Description
Line wrapping does not work for HTML containing SVGs.

# Input
The code looked like this before beautification:
[code]

# Actual Output
[code]
</clipPath>

## Settings
[code]

[2022-02-15 01:54] smujaddid commented on #1677
Any fix for this?

This happens too with `wrap_line_length` set to `120` for this line:

### Code
[code]

### Expected
Stay the same

### Actual
[code]

### Settings
[code]

**Note**: I'm using a VSCode plugin https://github.com/HiroyukiNIshimura/ejs-beautify for this

[2022-02-16 12:15] HackNetAyush opened #1987 "Not Beautifying The Code Obfuscated By https://obfuscator.io"
# Description
It is not able to beautify the code obfuscated by https://obfuscator.io

## Input
The code looked like this before beautification:
[code]

## Current Output
The  code actually looked like this after beautification:
[code]

## Expected Output
The code should have looked like this after beautification:
[code]

# Environment

## Browser User Agent:
Mozilla/5.0 (Windows NT 10.0; Win64; x

[2022-02-26 01:04] andersk opened #1988 "Fails to recognize Handlebars block with whitespace control, e.g. {{~#if true ~}}"
# Description

Handlebars supports [whitespace control](https://handlebarsjs.com/guide/expressions.html#whitespace-control) by putting `~` on one or both sides of any double-brace-enclosed statement. But js-beautify fails to recognize a statement with whitespace control, resulting in incorrect indentation.

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code

[2022-02-28 18:45] lgarron opened #1989 "HTML formatter breaks layout by introducing newlines"
Moved here from https://github.com/microsoft/vscode/issues/144042

# Description

The HTML formatter breaks the layout of the page.

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:

[code]

This introduces newlines (and spa

[2022-02-28 18:46] lgarron commented on #1989
FYI: The bug template says:

I assume this means "do not submit screenshots without submitting associated text examples", not "screenshots are forbidden, even if they illustrate the text examples". Apologies if that's not the case.

[2022-03-03 15:36] bunk033 opened #1990 "Paypal"
# Description

# Input
With this new feature, when I give like this input:
[code]

# Expected Output
I'd like to see this output:
[code]

## Environment
OS:

[2022-03-04 16:58] #1990 closed

[2022-03-04 17:05] bitwiseman commented on #1989
@lgarron

I don't understand the problem with the actual output.
Why is the expected output better/correct?
Why do you consider this to be breaking layout? Functionally, I think those two result in the same thing being displayed by the browser.

[2022-03-04 17:13] mhnaeem opened #1991 "[Bug] Logical assignments in JS are incorrectly beautified"
# Description
The tool incorrectly beautifies logical AND, OR and NULL assignments.

# Links:

- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_OR_assignment
- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_AND_assignment
- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_nullish_assignment

[2022-03-04 17:19] bitwiseman commented on #1984
#1020

[2022-03-04 17:19] #1984 closed

[2022-03-04 17:25] bitwiseman commented on #1980
Do you mean this: https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset ?
If so, it looks like the dash removal is done automatically.

The example would be:
[code]

If this is incorrect, please reopen this issue with further clarification.

[2022-03-04 17:25] #1980 closed

[2022-03-04 17:25] bitwiseman commented on #1985
PR welcome.

[2022-03-04 22:37] lgarron commented on #1989
Correct, that is how they are treated by default.

Any tag with a hyphen is a valid [custom element](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements) name. They can be defined in JS, but they can also be used in the DOM (and styled) before being defined.

Would it be feasible to conservatively treat every hyphenated tag as inline?

[2022-03-05 18:45] mhnaeem commented on #1985
@bitwiseman If this issue is not taken I can implement it

[2022-03-05 20:10] jimmywarting commented on #1985
@mhnaeem i haven't started working on such a PR. so i say go for it! 🙂

[2022-03-06 05:57] mhnaeem opened #1995 "Specify an old version of psf/black package because it removed support for python 2"
# Description
Python tests seem to be failing due to the latest release of [psf/black](https://github.com/psf/black) package, [v22.1.0](https://github.com/psf/black/blob/main/CHANGES.md#2210) which breaks the configuration because they stopped supporting python version 2.

# Fixes
Fix an old version of the package for download until the tooling can be reconfigured

[2022-03-10 22:27] slorenzot commented on #626
The semicolin is not necesary on current JS versions, but is a good practice for back compatibility, it would be a good setting for being include

[2022-03-13 21:33] #1985 closed

[2022-03-16 14:57] mk202020212022 opened #1998 "Formatting of form element"
# Description

The `<form>` HTML element doesn't format correctly.
## Input
The code looked like this before beautification:
[code]

## Current Output
The  code actually looked like this after beautification:
[code]

## Expected Output
The code should have looked like this after beautification:
[code]

# Environment

## Browser User Agent:

Mozilla/5.0 (Linux; Android 7.0; SM-G892A Build/NRD90M; w

[2022-03-23 05:09] kcamsanc commented on #1846
@bitwiseman Hi! I'm new to open source contributions and am considering addressing this issue. Before I take it though, I was wondering, is it still a requirement to ensure feature parity as described in [Contributions.md](https://github.com/beautify-web/js-beautify/blob/main/CONTRIBUTING.md)?

If so, what's the best way to reproduce this error in the Python implementation after forking and clonin

[2022-03-23 20:06] zalsaedy commented on #1988
Hello! I saw this issue and would like to work on it. Are there any steps I need to take before doing so, besides what was stated in CONTRIBUTING.md?

[2022-03-23 20:11] a-vento commented on #1998
Hi! I would like to work on this issue. Are there any steps I need to take before doing so, besides what was stated in CONTRIBUTING.md?

[2022-03-24 00:28] kcamsanc commented on #1846
I believe I figured out the answer to my question above.

I am now working on this change. I will keep you all updated on my progress!

[2022-03-24 00:33] kcamsanc commented on #1862
Hi, it doesn't look like this is in development yet so I've begun working on this assuming it is still an enhancement of interest. I'll keep everyone updated on my progress. Thanks.

[2022-03-24 11:34] WebSpectrum opened #1999 "SCSS Format?"
# Description

# Input
With this new feature, when I give like this input:
[code]

# Expected Output
I'd like to see this output:
[code]

## Environment
OS:

[2022-03-29 02:41] kcamsanc commented on #1846
Hi all, I just opened up PR #2004. Let me know what you think. There is one thing that I wanted to bring up though (also under "CURRENT DISCUSSION" in the PR):

- I'm under the impression that when I add unit tests to /test/data/*/test.js, corresponding tests are automatically generated for the Python implementation. Is this correct?
- If so, I found that my unit tests did not fail for the Python

[2022-03-29 06:40] dongnaebi opened #2005 "Why put npm in dependencies?"
# Description
npm in dependencies
https://github.com/beautify-web/js-beautify/blob/main/package.json#L56

# Input
run any npm command

# Expected Output
success

# Actual Output
npm does not support Node.js v10.17.0
You should probably upgrade to a newer version of node as we
can't make any promises that npm will work with this version.
You can find the latest version at https://nodejs.org/
/data/

[2022-03-29 06:55] bitwiseman commented on #2005
Probably just a mistake.

[2022-03-29 06:57] attitudeuser commented on #2005
I also encountered this mistake

[2022-03-29 07:04] bitwiseman commented on #2005
PRs welcome, folks.

[2022-03-29 07:08] bitwiseman commented on #1846
Yes.

Did you run `make all`?  I'd be very surprised if that didn't generate the test for both js and python, and result in a failure in the python test run.

[2022-03-29 07:57] #2005 closed

[2022-03-29 08:31] bitwiseman commented on #2005
Fixed and release as v1.14.2.

[2022-03-29 18:50] bitwiseman commented on #1999
Generally yes, but the support is incomplete. PRs welcome.

[2022-03-29 18:50] #1999 closed

[2022-03-29 18:51] #1995 closed

[2022-03-30 13:18] nckirik opened #2010 "Comma First adds unwanted new lines to arrays"
# Description
when "comma_first" is set to true, new lines are added between elements each time script is run.
this problem occurs only in arrays, objects look fine.
also, if "max_preserve_newlines" is set to 0, this wont happen. but new lines intentionally added are stripped.

## Input
The code looked like this before beautification:
[code]

## Current Output
The code actually looked like this af

[2022-03-30 18:09] n-can-k commented on #2010
thanks, edited the original post

[2022-03-30 23:36] kcamsanc commented on #1846
Yes, to test this, I reverted my changes to `tokenizer.py` and ran both `make` and `make all` (not sure if there's a difference there). Neither resulted in a failure, and within the `make all` output, I do see:
[code]
which I think means that no Python tests failed even after I reverted my changes in `tokenizer.py`. I also ran `make py`, which resulted in "PASSED".

Looking into this further, I ca

[2022-03-31 03:15] bitwiseman commented on #2010
Beautifying multiple times results in additional empty lines:
[code]

@n-can-k

I see you have:
[code]

If you set that to `false`, you will get:
[code]
Still not quite  what you want, but closer. It also does not indent with tabs in this case. The comma first formatting definitely needs work.

[2022-03-31 12:46] asphub commented on #1236
This issue needs to addressed and fixed. This is the main reason for me to discontinue usage of beautifyjs for SCSS formatting and I am using SCSS formatter by Sibiraj. which is the best formatter for SCSS.

Name: SCSS Formatter
Id: sibiraj-s.vscode-scss-formatter
Description: A Visual Studio Code Extension to format SCSS
Version: 2.4.1
Publisher: Sibiraj
VS Marketplace Link: https://marketplace.v

[2022-03-31 22:48] n-can-k commented on #2010
@bitwiseman i'll try to spare some time to see if I can work on it

[2022-04-01 03:52] intermediatech commented on #1236
This issue was created on "25 Aug 2017" and is still not fixed yet.
Why ??

[2022-04-01 05:29] onjun660 opened #2012 "CSS formatter problem when using tailwindcss"
Hi,

# Description
The CSS formatter inserts unnecessary spaces when using tailwindcss, causing errors when building.
An example is below.

# Input
The code looked like this before beautification:
[code]
# Actual Output
The  code actually looked like this after beautification:
[code]

# Steps to Reproduce

## Environment
OS: Windows

## Settings
VSCode　Buildin Formatter Default

Is there a setting

[2022-04-03 11:42] Alexey-T opened #2014 "Version 1.14.2 from PYPI has worse 'import' lines"
I used version 1.0.0 which had simple imports:
[code]

Now I got version 1.4.2 from PYPI and see it has changed imports like this:
[code]
This now does not work if I put the module to CudaText plugin:
[code]

Maybe you can change 'import' lines to usual ones? like this
[code]

Plugin code -- https://github.com/CudaText-addons/cuda_fmt_css_format

[2022-04-04 11:29] wisD01 opened #2015 "sk"
# Description

[2022-04-05 03:59] #2015 closed

[2022-04-05 04:46] bitwiseman commented on #2014
I assume you mean `v1.14.2`.  `v1.4.2` is a long time ago.

Sorry for the inconvenience. PR #1830 (which fixed #1830) is where the change to the complex `import` statements was introduced.  It seemed to be required, but I'm not a Python expert.  If there is a better way to do this, I'm happy to look at PRs.

You're trying to use this inside https://github.com/CudaText-addons/cuda_fmt_css_format ?

[2022-04-05 04:50] Alexey-T commented on #2014
I am trying to copy module folder to plugin directory. "complex imports" don't work there.

[2022-04-05 04:54] bitwiseman commented on #2012
To be clear the spaces in `@apply text-[clamp(0.75rem, 0.5625rem+0.3906vw, 0.875rem)];` are the problem?

https://tailwindcss.com/docs/editor-setup#syntax-support points out that the custom at-rules can confuse editors and formatters.  This would be an example of that.

If you want to do there work, including providing tests I'd be happy to review well-tested PRs.

[2022-04-05 05:13] bitwiseman commented on #1998
Note that these two html snippets produce different rendered output in the browser:
## A
[code]

## B
[code]

Approximating the difference in text form it looks like this:
[code]

On this small scale those spaces don't seem like a big deal, but for real world scenarios they could result in radically different formatting.

The current policy of this project is that if the rendered html looks differ

[2022-04-05 05:13] #1982 closed

[2022-04-05 05:20] bitwiseman commented on #1981
` this.$element?.nativeElement.focus();` is fixed in the current version.
 For your other two problems please file separate issues for each of them, preferably using the bug reporting feature from https://beautifier.io .

[2022-04-05 05:20] #1981 closed

[2022-04-05 05:21] bitwiseman commented on #1979
Yup. The CSS beautifier is the crustiest part of this product.  Contributors needed.

[2022-04-05 05:22] bitwiseman commented on #1976
PRs welcome.

[2022-04-05 05:27] bitwiseman commented on #1963
Please provide input, expected output, and actual output example.

[2022-04-05 05:40] Alexey-T commented on #2014
I am suggesting to try it on your end: change imports to __relative__ imports.
[code]
this way is will work.

[2022-04-05 06:54] bitwiseman commented on #2014
@Alexey-T
Note: `cssbeautifier` depends on `jsbeautifier`, so you might need to copy the contents of the `python` directory. That might fix the problem you're seeing.

This is change that will benefit you by simplifying updating your local copy of the project.  As I said, you're welcome to try fixing this and I'll be happy to look a PR. I'm sorry I can't do more, but I personally don't time to wor

[2022-04-05 07:04] bitwiseman commented on #658
@finalclass
PRs welcome.

[2022-04-05 07:05] #2014 closed

[2022-04-05 07:13] richmilns opened #2016 "LESS mixin unexpected code formatting"
# Description
This is moved over from https://github.com/microsoft/vscode/issues/146693

Using VSCode 1.66.0 and the new built-in LESS code formatting feature `less.format.enable` implemented by the [JS Beautify library](https://github.com/beautify-web/js-beautify).

When using a LESS mixin that accepts CSS code rules as a parameter (this is used for media query mixins), the formatting when saved

[2022-04-05 07:57] aeschli commented on #2016
1.66.0 uses jsbeautify 1.14.0

[2022-04-05 11:22] zakharenkov commented on #1817
Same problem

[2022-04-05 15:31] bitwiseman commented on #2016
@aeschli
Thanks for the update. That means this is definitely still valid.

[2022-04-06 03:35] bitwiseman commented on #2016
@aeschli
Are you seeing a lot of issue reported?

I only see 5 open in this project currently: https://github.com/beautify-web/js-beautify/issues?q=is%3Aissue+is%3Aopen+less+OR+scss+label%3A%22language%3A+templating%22+

As I said this issue probably wouldn't be super hard to fix, I just don't have the time myself.

As to comfort, it is really up to you.  When I go searching for an alternative to

[2022-04-06 04:09] mhnaeem commented on #1991
@bitwiseman What is the process for closing issues in the project? I noticed that we released some issues but they weren't closed like this one. In addition, what is the update process for the website (https://beautifier.io/) I noticed that this issue still doesn't work on the site.

[2022-04-06 06:53] #1991 closed

[2022-04-06 06:57] bitwiseman commented on #1991
@mhnaeem
Thanks for calling attention to this.  It looks like github pages publishing action is failing in beautifier/beautifier.io project: https://github.com/beautifier/beautifier.io/actions/runs/2059622873

I'll take a look at it some time this week.

[2022-04-06 07:23] aeschli commented on #2016
@bitwiseman Yes, so far it's only a few issues that don't seem to be complicated to fix.

[2022-04-07 01:07] mhnaeem commented on #2016
@aeschli @bitwiseman I have added a PR for a possible solution to the spacing problems mentioned in this ticket and #772.

[2022-04-07 01:53] mhnaeem commented on #1888
Fixed in [#1991](https://github.com/beautify-web/js-beautify/pull/1992)

[2022-04-07 04:23] #1888 closed

[2022-04-07 05:27] mhnaeem commented on #1817
Add PR for this issue 🙃

[2022-04-07 06:16] #722 closed

[2022-04-07 06:16] #2016 closed

[2022-04-07 06:31] #1817 closed

[2022-04-07 16:18] mk202020212022 commented on #1998
Therefore, a possible answer would be to preprocess html with a regular expression, e.g. `s/\>\s*\</\>\n\</g`, and after run beautify. It would be nice if documentation had a notice about whitespaces.

[2022-04-07 23:58] mhnaeem commented on #1838
Fix for this issue released with #2013

[2022-04-08 02:47] #1838 closed

[2022-04-08 03:23] bitwiseman commented on #1998
I don't know what you mean.

To be absolutely clear, this HTML:

[code]

is **functionally** the same as this HTML:

[code]

but both of the above are **functionally different** from this HTML:

[code]

I am not saying that any of these are correct.  That is a separate discussion.  What I'm saying is that the output you want the beautifier to produce is **functionally different** from the the inpu

[2022-04-08 03:23] #1998 closed

[2022-04-08 03:57] mhnaeem commented on #1236
@bitwiseman I have added a PR related to this issue. It is not a full solution but it improves the formatting for some very basic cases of maps.

[2022-04-08 04:02] mhnaeem commented on #1236
Missing cases that still need handling:

Case 1: Input multiline but `selector_separator_newline` is `false`
[code]

Case 2: Maps inside rules
[code]

Case 3: maps that have `!default` like statements at the end
[code]

[2022-04-08 04:12] mhnaeem commented on #1978
issue fixed in #1997

[2022-04-08 04:19] mhnaeem commented on #1798
Possibly fixed by #2018

[2022-04-08 04:22] bitwiseman commented on #1236
@intermediatech

Because this project needs more contributors like @mhnaeem. Please feel free to join in.

[2022-04-08 04:25] #1978 closed

[2022-04-08 04:27] bitwiseman commented on #1798
@mhnaeem
Submit a PR with tests showing it is if fixed.

[2022-04-08 04:43] mhnaeem commented on #1798
@bitwiseman Done!

[2022-04-08 05:47] mhnaeem opened #2022 "CHANGELOG.md file was wiped out in v1.14.2"
# Description
CHANGELOG.md file was wiped out in `v1.14.2` release

Commit: https://github.com/beautify-web/js-beautify/commit/ef32da440e03457d34f02e8f54b44f494e6d5b01

[2022-04-08 05:52] mhnaeem opened #2023 "NPM "next" tag is pointing to an old 1.10.1-rc2 version"
# Description
npm `next` tag is pointing to an old `1.10.1-rc2` version
Link: https://www.npmjs.com/package/js-beautify?activeTab=versions

It should point to `latest` or the new `rc` branches

[2022-04-08 06:02] #1151 closed

[2022-04-08 06:04] #1798 closed

[2022-04-08 16:39] anthonyvdotbe opened #2024 "CSS formatter removes useful space"
# Description
In the example below, formatting removes a useful space character: the output is less readable & introduces an asymmetry.

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked exactly the same after beautification.

# Actual Output
After beautification, the space between `"("` and `counter(foo)` is removed (but the space betwe

[2022-04-08 19:09] mhnaeem commented on #2024
Related to the following, should be fixed in the upcoming release. Maybe you can try reproducing on `main` branch

Issues:
- https://github.com/beautify-web/js-beautify/issues/1798
- https://github.com/beautify-web/js-beautify/issues/1817

PRs:
- https://github.com/beautify-web/js-beautify/pull/2020
- https://github.com/beautify-web/js-beautify/pull/2018

[2022-04-09 05:41] bitwiseman commented on #2024
Released 1.14.3 today.  This is fixed in that version.  Thanks @mhnaeem !

[2022-04-09 05:41] #2024 closed

[2022-04-09 20:23] mhnaeem commented on #545
@bitwiseman Are you still interested in this? I might be willing to work on this a few tokens at a time instead of tokenising the entire beautifier at once.

[2022-04-10 02:51] bitwiseman commented on #545
@mhnaeem
Yes, I absolutely am interested in this. This task has high long term value - it will make it much easier to maintain and improve the css beautifier.  However, I think the bugs you've been fixing have much higher immediate value to the project.

I'm not sure how you'd convert to using tokens one or two at a time.
Maybe if we start by looking for strings.  So you'd have `TK_RAW` and `TK_ST

[2022-04-10 06:53] #772 closed

[2022-04-10 06:57] bitwiseman commented on #545
@mhnaeem
I've started a branch for this [feature/css-tokenizing](https://github.com/beautify-web/js-beautify/tree/feature/css-tokenizing).

If you see where I'm going from that mess off code, please go for it.  Otherwise hold off until I get comments and strings working.  Then it should be at a point where it is easier to add more tokens one at a time.

[2022-04-10 08:20] mhnaeem commented on #545
@bitwiseman Actually that is very similar to what I had in mind. I actually wrote a partially working tokenizer to understand the mechanics of CSS. My biggest issue was handling whitespace and newlines with the with partially tokenized code. You have to back track all the whitespace and newline characters in the input scanner if an unknown token comes along so the rest of the beautifier code can w

[2022-04-10 22:23] kcamsanc commented on #1862
Hi, I just opened a PR #2029 for my first attempt at implementing this option. Let me know what you think.

[2022-04-10 22:31] mhnaeem opened #2030 "Link python library on the beautifier.io site"
# Description
Link python library on the beautifier.io site. This should make the python library easier to find since the names across everything is not consistent.

[2022-04-10 23:17] mhnaeem commented on #1799
@bitwiseman This was fixed in #1800

[2022-04-11 03:02] #2030 closed

[2022-04-11 03:04] #1799 closed

[2022-04-11 03:34] bitwiseman commented on #545
@mhnaeem
If you have already done the work even partially, please share your branch or submit a PR.  Even if it is incomplete it would make for good discussion.

[2022-04-11 04:25] mhnaeem commented on #545
I have created a draft PR #2032, not sure if it has any usefulness. I wasn't really focused on committing a lot of code because that was just me learning so most of the work I did is lost 😅.

[2022-04-11 04:41] mhnaeem commented on #2022
The script [generate-changelog.sh](https://gist.github.com/joelittlejohn/5937573) might need updates. Checkout the new revisions, they include an authorization token in the curl requests which I don't think we have.
https://github.com/beautify-web/js-beautify/blob/ed2e08d4527a39c627087c88a348d9170c37b773/tools/generate-changelog.sh#L34

[2022-04-11 06:08] mhnaeem commented on #1622
Added a new PR for this feature

[2022-04-11 17:02] a-vento commented on #1704
Hi! I would like to work on this issue. Are there any steps I need to take before doing so, besides what was stated in CONTRIBUTING.md?

[2022-04-12 02:27] mhnaeem commented on #1444
@bitwiseman Here's an opinionated redesigned version of the site. It is not as pretty or clean as the jshint website but this is a quick overhaul which can be improved over time. It is also responsive enough that we can use the site from mobile. I have added some pics below to show the differences.

**Old Site Desktop:**
<img width="1792" alt="Screenshot 2022-04-11 at 11 52 55 PM" src="https://use

[2022-04-12 03:23] #1444 closed

[2022-04-12 05:08] #1976 closed

[2022-04-12 05:16] mhnaeem opened #2041 "[Docs] Add examples for the different cli options"
# Description
The repository does not have a lot of examples of what the different config options are supposed to mean other than the info in `README.md` file, this makes it hard for new people to use the product. I think having a directory called example with different markup files showing various different options and what they mean at a very basic level will help out a lot.

Here's a sample rep

[2022-04-12 05:26] mhnaeem opened #2042 "[Implementation] Align the JS and Python implementations"
# Description
The JS and Python implementation of the beautifier are not perfectly aligned. In addition to missing feature parity the code bases in some cases are also very different and this makes it hard to change code accurately. An example of the problem would be having same function and variable names, using the same letter casing, etc.

The CLI in Python vs JS is a good example of this issue

[2022-04-12 06:06] mhnaeem opened #2043 ""space_after_named_function" as true causes breaks in function calls"
# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:
[code]

# Bug
There should be no space between `a` and `()`

## Settings
[code]

[2022-04-12 13:56] pritipsingh commented on #2010
Hey do you continue to get the same result even after doing:
`  "keep_array_indentation": false,`
if not please let me know, I can look into it.

[2022-04-12 14:56] mhnaeem opened #2044 "Remove RawGit as an option"
# Description
The `README.md` file mentions RawGit as an option to download the package. However, RawGit is in sunset phase for some time now and they actively recommend to stop using it going forward.

**Link:** https://rawgit.com/

- [ ] Remove the RawGit link from `README.md` file
- [ ] Stop publishing new versions on RawGit

[2022-04-12 20:23] a-vento commented on #1975
Hi! I would like to solve this issue, will let you know of any updates !

[2022-04-12 21:19] bitwiseman commented on #2042
This project definitely aims for identical behavior and implementation of the beautifier, with exceptions for language features, idioms/styles, and external dependencies.

For example, python variable names are `snake_case` and are used to indicate variables being private. JavaScript guidelines tend towards `pascalCase` but it is more open.  So, we've gone in the direction of mostly python style.

[2022-04-12 21:50] #1950 closed

[2022-04-13 18:50] #1988 closed

[2022-04-13 20:46] a-vento commented on #1869
I can work on this issue and will update you with any changes!

[2022-04-13 21:20] andersk opened #2045 "Handlebars {{#tr}} helper is indented as if it were a <tr> tag"
# Description

Zulip defines a custom Handlebars helper `{{#tr}}` for translation, but when it happens to be [used inside a table cell](https://github.com/zulip/zulip/blob/0df4d8eb172bee9988d0a33c251368d2c2aa08ae/static/templates/search_operators.hbs#L15), js-beautify seemingly confuses it with a `<tr>` (table row) tag and indents it at the wrong level.

# Input
The code looked like this before be

[2022-04-13 21:55] bitwiseman commented on #2045
I've marked this as a good first issue, though it is a bit more involved. Basically, we currently have a single stack for all tags, both html and handlebars. We need to add a separate stack for handlebars.

[2022-04-20 04:15] mbartlett21 commented on #1987
The actual obfuscator code is here:

https://github.com/javascript-obfuscator/javascript-obfuscator

[2022-04-21 16:59] #1869 closed

[2022-04-22 00:25] #1846 closed

[2022-04-22 00:55] bitwiseman commented on #2023
Addressed for now, but still needs a more permanent fix.

[2022-04-25 08:42] #264 closed

[2022-04-27 10:12] Kamalallahabi opened #2048 "Code CH"
# Description

## Input
The code looked like this before beautification:
[code]

## Current Output
The  code actually looked like this after beautification:
[code]

## Expected Output
The code should have looked like this after beautification:
[code]

# Environment

## Browser User Agent:
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/5

[2022-04-28 02:10] #2048 closed

[2022-04-28 10:02] DibyodyutiMondal opened #2049 "Autosave in VS Code scss breaks tailwindjs parsing"
# Description
I use tailwind inside of vs code. Recently, every time I save scss files, it inserts spaces after every comma and a space after the first colon it encounters, which breaks tailwindcss. I had opened an issue in the VS Code repo ([#147548](https://github.com/microsoft/vscode/issues/147548)), and they asked me to report this to beautify instead.

# Input
The code looked like this before

[2022-04-29 04:25] bitwiseman commented on #2049
#2012

[2022-04-29 04:25] #2049 closed

[2022-04-29 04:27] bitwiseman commented on #2012
Related https://github.com/microsoft/vscode/issues/147548 . @DibyodyutiMondal
Help fixing would be welcome.

[2022-04-29 04:34] bitwiseman commented on #2012
This might be done by adding and at-rule here:
https://github.com/beautify-web/js-beautify/blob/ffd14abad155aebbaab3a2cbc8e11df1f2a4a870/js/src/css/beautifier.js#L56

Or there might be some simpler way.

[2022-04-29 05:38] DibyodyutiMondal commented on #2012
Sure, I'll see what I can do and revert back...

[2022-04-29 19:49] laggingreflex opened #2050 "Import Assertions"
https://github.com/tc39/proposal-import-assertions

Expected (to be unchanged):

[code]

Actual:

[code]

[2022-05-04 09:16] aeschli opened #2051 "css format removes space after quoted value"
JSBeautify 1.14.3

- have the following CSS stylesheet
[code]
(from https://developer.mozilla.org/en-US/docs/Web/CSS/quotes#examples)

- Beautify CSS
- result is
[code]

That's still valid CSS, but I'd expect a single space between the terms

[2022-05-04 09:51] ntnyq opened #2052 "CSS formatter inserts unexpected spaces in attribute selector and breaks the syntax"
# Description

## Input
The code looked like this before beautification:
[code]

## Current Output
The  code actually looked like this after beautification:
[code]

## Expected Output
The code should have looked like this after beautification:
[code]

# Environment

## Browser User Agent:
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 S

[2022-05-07 09:11] xuld commented on #2052
Input:
[code]

Actual Output:
[code]

[2022-05-07 09:59] ntnyq commented on #2052
You should open a new issue

[2022-05-12 23:11] yahbouss commented on #2043
I tried it with `{"space_after_named_function": false}` and it worked as expected

[2022-05-14 08:35] frost19k opened #2053 "ERROR: Could not build wheels for jsbeautifier"
I'm trying to install `jsbeautifier` in `kalilinux/kali-last-release` Docker container. The install fails with `RecursionError: maximum recursion depth exceeded` - full output below.

This doesn't seem to be a `jsbeautifier` specific issue since `docker run -it --rm python:3.10-slim pip3 install jsbeautifier` runs successfully.

I'm hoping someone could shed some light on why this might be happeni

[2022-05-16 13:12] zunaira1999 opened #2054 "Exception in HostFunction: Malformed calls from JS: field sizes are different."
# Description

## Input
The code looked like this before beautification:
[code]

## Current Output
The  code actually looked like this after beautification:
[code]

## Expected Output
The code should have looked like this after beautification:
[code]

# Environment

## Browser User Agent:
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.54 Safari/5

[2022-05-22 08:34] Dessader opened #2055 "Build output"
# Description
Perhaps my problem is not quite typical and I have gone to the wrong section. I have no problem with the formatting of the code, but I have a problem with the placement of the code after processing.

In my packages.json there is the following script:

[code]

The problem is the following, when there are several html pages in the build directory, everything works fine, but if there is

[2022-05-22 16:53] Kir-Antipov commented on #2055
The issue does not seem to be reproducible on Windows.

[2022-05-25 07:04] aeschli opened #2056 "Extra space before `!important` added"
Input:
[code]

Actual Output:
[code]

_Originally posted by @xuld in https://github.com/beautify-web/js-beautify/issues/2052#issuecomment-1120171915_
Also reported by https://github.com/microsoft/vscode/issues/150318

[2022-05-27 21:58] jimmywarting opened #2057 "Dark mode"
<p align="center">
  <img src="https://media2.giphy.com/media/irOE2ho4vMdEqsCdly/giphy.gif?cid=790b7611867349783b897bf39b1c51f1fce70e12a0358dfb&rid=giphy.gif&ct=g">
</p>

[2022-05-29 05:17] bitwiseman commented on #2057
PRs welcome.

[2022-05-31 07:54] ilancohen commented on #2057
The idea is to implement a "dark mode" version of the website in /web, changing with the user's OS settings?
If so, I can give it a shot.

[2022-05-31 08:29] jimmywarting commented on #2057
yes, go ahead 👍

[2022-05-31 08:44] ilancohen commented on #2057
@jimmywarting can I add a lightweight CSS library like [Bulma](https://bulma.io/) while I'm at it, to make the page look better?

[2022-06-01 03:45] bitwiseman commented on #2057
@ilancohen
That would be a bigger change. We've tried to maintain backward compatibility as far as possible.  I support the idea of making the website look better but will balance that against backwards compatibility concerns.

Please make a new issue for what you want to do and we can discuss it there.

[2022-06-05 15:37] sherifsallam opened #2059 "Re-design Proposal for beautifier.io"
Hello!

As an appreciative user of beautifier.io during my projects, I love this tool and find myself using it and its many options. I would love for it to have a more organised and simplistic design. I feel like making it look more modern and sleek would make a huge difference in the user's experience.

I saw that implementing a CSS library raises the concern of backward compatibility, as mention

[2022-06-08 09:58] sidtohan commented on #2057
Can I work on this feature?

[2022-06-11 03:26] bitwiseman commented on #2057
I think there's already a PR... Take a look and comment on it.

[2022-06-11 21:05] Owyn opened #2060 "break lines after comma option please (or something more smart?)"
# Description

## Input
The code looked like this before beautification:
[code]

## Current Output
The  code actually looked like this after beautification:
[code]

## Expected Output
The code should have looked like this after beautification:
[code]

# Environment

## Browser User Agent:
Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:101.0) Gecko/20100101 Firefox/101.0

Language Selected:
Beautify

[2022-06-11 21:42] aichingm commented on #1622
From what I can tell this should already have landed in 1.14.3 right?

If so it does not seam to be working.

JS test:

[code]

Python test:
[code]

Versions:

[code]

[code]

[2022-06-16 14:49] icrap opened #2061 "regles qq"
if (FICHE.EV("creation_victime")) {
    FICHE.SET('URGUSER#2', FICHE.GET('URGUSER'));
    FICHE.SET('PHAC', '1');
    //FICHE.SET('URGUSER', FICHE.GET('URGUSER#2'));
    FICHE.COULEUR_CHAMP('SCOPE44', 'rouge');
    FICHE.COULEUR_LIB('SCOPE44', 'rouge');
    FICHE.COULEUR_CHAMP('DEFIB', 'rouge');
    FICHE.COULEUR_LIB('DEFIB', 'rouge');
    FICHE.COULEUR_CHAMP('ASPEC', 'rouge');
    FICHE.COULEUR_L

[2022-06-17 09:53] nchevobbe opened #2062 "Erroneous output with upcoming Records syntax"
# Description

Records are a new primitives in Javascript, and they are currently being implemented in Firefox (See https://bugzilla.mozilla.org/show_bug.cgi?id=1658309, https://bugzilla.mozilla.org/show_bug.cgi?id=1774360 and https://github.com/tc39/proposal-record-tuple)

Records are instantiated like objects, but with a hash before the curly bracket, e.g. `#{ hello: "world" }`

# Input
The code

[2022-06-20 17:25] #2061 closed

[2022-06-20 17:31] bitwiseman commented on #1622
Yup, not fixed.

[2022-06-20 17:40] #2044 closed

[2022-06-20 18:00] bitwiseman commented on #2059
@sherifsallam
I think the dark mode PR #2058 is okay and I've gone ahead and merged it.  However, if you would like to make further improvements, they would be totally welcomed.

[2022-06-20 18:04] #2054 closed

[2022-06-20 21:26] #2051 closed

[2022-06-20 21:27] #2056 closed

[2022-06-20 21:33] #1622 closed

[2022-06-20 23:58] bitwiseman commented on #1622
Turns out this was in the 1.14.4 - released today.

[2022-06-22 14:44] #2055 closed

[2022-06-24 16:14] ArndBrugman opened #2069 "New Layout JSON max width limit to 75-80%?"
# Description
I am a big fan and often use this beautifier online and see the new layout which is a great improvement. I would like to opt for a small modification for the layout and that is to maximize the left full JSON pane to max around 75%to80% so in all cases the interface on the right remains visible.

Thanks for your time and effort.

## Environment
OS: Chrome, Windows 11x64

[2022-06-24 16:31] ewwink opened #2070 "Someone please takeover VSCodeBeautify, its deprecated"
please takeover or create new project

repo url: https://github.com/HookyQR/VSCodeBeautify

![image](https://user-images.githubusercontent.com/760764/175579640-4bce5802-aa1d-4197-b593-ef261a3c736b.png)

[2022-06-24 18:05] Owyn opened #2071 "new layout breaks everything on long lines"
How author imagined it would be:
![image](https://user-images.githubusercontent.com/1309656/175617669-7ee1eb94-2a6c-4bef-b00b-c3a97cdd35db.png)

How it actually is when used:
![image](https://user-images.githubusercontent.com/1309656/175617725-09467f22-7c3f-4232-959f-1f5eeee3668e.png)

[2022-06-25 05:47] bitwiseman commented on #2071
Strange. I actually see the top image. What browser are you running?

[2022-06-25 05:52] bitwiseman commented on #2070
@ewwink
Perhaps you would like to do so? It is MIT licensed.

[2022-06-25 06:00] bitwiseman commented on #2069
PR welcome. You might limit it, but also keep full width on mobile. Please include pictures in your PR.

[2022-06-25 09:01] ewwink commented on #2070
I'm not really good 😄

[2022-06-25 11:54] Owyn commented on #2071
Firefox stable (101)

Have you tried inputting a long string?

[2022-06-25 12:30] SimaDovakin commented on #2071
What about  temporary adding `min-width` to block with code?

[2022-06-25 12:31] SimaDovakin commented on #2071
It's can be a temporary solution.

[2022-06-27 05:02] bitwiseman commented on #2071
PRs welcome.

[2022-06-27 19:24] lgarron commented on #1989
*poke*

This is still really frustrating. It completely breaks the layout of some pages in VSCode out of the box, which requires a moment of "what happened?" followed by turning off HTML formatting completely (therefore missing out on the benefits). 🥺

[2022-06-28 10:59] anupamamnair-tw commented on #654
Hi @bitwiseman , I'm new to open source and would like to contribute on this issue.

[2022-06-28 11:00] anupamamnair commented on #654
Hi @bitwiseman , I'm new to open source and i would like to contribute to this issue.

[2022-06-29 05:12] bitwiseman commented on #654
Go for it.

[2022-06-29 07:25] anupamamnair commented on #654
Sure. I just want to get a clarity on the expected result.

Is a new option to enable/disable space before /> for self-closing tags expected?

Something like this new option for UI as in attached image -->

<img width="539" alt="Screenshot 2022-06-29 at 12 52 26 PM" src="https://user-images.githubusercontent.com/38095097/176376993-69687391-d795-4d7d-857f-931dc1fadb81.png">

Kindly confirm..

[2022-06-29 17:06] mhnaeem commented on #2069
Possibly related to #2071

[2022-06-30 02:16] andersk opened #2074 "Fails to recognize more Handlebars blocks with whitespace control, e.g. {{~ else ~}}, {{~/if~}}"
# Description

This is a followup to #1988.

Handlebars supports [whitespace control](https://handlebarsjs.com/guide/expressions.html#whitespace-control) by putting `~` on one or both sides of any double-brace-enclosed statement. #2034 lets js-beautify recognize some cases of this, but other cases are still unrecognized, depending on which side(s) the `~` are on and whether there are spaces.

- ✔️

[2022-07-05 04:19] wanls4583 opened #2075 "How to get the new cursor position after beautify"
I am now developing an editor. I want to know how to record the position of the cursor so that I can get the new cursor position after beautify.

[2022-07-05 07:53] MrLi2018 opened #2076 "abort tokenstream"
# Description

[2022-07-05 07:55] #2076 closed

[2022-07-05 07:55] MrLi2018 opened #2077 "tokenstream"
# Description

Hello, I'd like to ask when tokenstream will be used

[2022-07-05 19:13] Infocatcher opened #2078 "Failed P_A_C_K_E_R.unpack test"
Tests output:
[code]
Looks like not depends on js-engine: I see that with latest Chrome 102 (Vivaldi) and with WSH's JScript.

Also how to show hidden block with "Run the tests" on https://beautifier.io without dev tools?

[2022-07-06 02:54] #2075 closed

[2022-07-09 17:34] Owyn commented on #2060
Just wanted to say JStool does that, here's its source code: https://github.com/sunjw/jstoolnpp

[2022-07-11 23:58] PineappleRind commented on #2071
So this happens for any string that's longer than the input area

[2022-07-13 12:10] Owyn opened #2080 "Problem: comma separated code gets 'Laddered' sometimes"
# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:
[code]

# Steps to Reproduce
1. beautify code
2. see bad result

## Environment
OS: Win 10

## Settings
any settings - I think

[2022-07-13 16:07] plotpoi commented on #2071
It will be reproduced in chrome. It's hard to press the button.

[2022-07-17 17:11] petermarks12 opened #2082 "JSON Array formatting issue"
I have tried almost all possible settings to get desired output but unfortunately failed at it.  I will be very thankful if someone can point me in right direction. I am getting same output as my input.

JSON
[code]

Expected Output
[code]

[2022-07-19 15:14] UTGuy opened #2083 "[scss] grid-template-areas not formatting as expected"
# Description
Formatting seems to break when using a SCSS variable in `grid-template-areas`.

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:
[code]

# Steps to Reproduce
Format the code

## Environment
OS: any

## Settings

[2022-07-19 17:27] guasam commented on #1124
Pardon for bumping such an old issue.

Visual Studio Code is already available for users so decided to create an extension for such requirement if anyone interested.

@bitwiseman you can also give it a try and see if needed :
https://marketplace.visualstudio.com/items?itemName=guasam.compress-my-css

[2022-07-21 00:24] GAURAV1-ui commented on #2057
Can @ilancohen I solve this issue?

[2022-07-21 02:42] ilancohen commented on #2057
Be my guest.
On Jul 21, 2022, 03:24 +0300, GAURAV ***@***.***>, wrote:

[2022-08-02 01:46] zoreu opened #2086 "I tried to decode a code and I couldn't"
this code:
` var _0x9d94=['\x73\x6d\x61\x78\x2e','\x78\x3b\x22\x3e\x48','\x6c\x6f\x61\x64\x65','\x61\x6e\x61\x6c\x20','\x34\x7c\x30\x7c\x32','\x4c\x4d\x65\x67\x55','\x45\x6e\x67\x69\x6e','\x44\x65\x6c\x61\x79','\x61\x70\x70\x6c\x79','\x74\x69\x6d\x65\x21','\x74\x76\x33\x68\x64','\x74\x79\x70\x65','\x61\x73\x79\x6e\x63','\x6f\x2e\x3c\x2f\x61','\x6a\x44\x68\x46\x51','\x68\x74\x74\x70\x73','\x23\x30\

[2022-08-06 18:36] #2071 closed

[2022-08-07 07:01] #2077 closed

[2022-08-07 07:02] bitwiseman commented on #2074
PRs welcome.

[2022-08-07 07:04] bitwiseman commented on #2080
PRs welcome.

[2022-08-07 07:08] bitwiseman commented on #2070
@ewwink

I'm not sure I understand.  You don't have to be amazing to maintain a project.  Even being willing to do the administrative tasks is often sufficient.

[2022-08-07 07:10] bitwiseman commented on #2083
I'm not sure why it is happening. Is it actually breaking functionality or is it simply less then ideal formatting?

[2022-08-07 07:15] bitwiseman commented on #2078
@Infocatcher
I think in the formatting update some functionality was lost.  Please file a separate bug for that (and maybe a PR to fix it).

As to the Packer failure, I do not know.  Sorry.  If this is an area that matters to you, you'll need to dig and find a solution.

[2022-08-07 07:19] bitwiseman commented on #2086
Sorry, there are tons of ways of obfuscating JavaScript. This project handles some common methods, but others it fails at.  Keeping up with the obfuscating tools is beyond the level of resources available at this time.  If you want to contribute enhancements, PRs are welcome.

[2022-08-07 07:20] #2086 closed

[2022-08-07 07:21] #2069 closed

[2022-08-07 07:21] #2057 closed

[2022-08-07 13:29] UTGuy commented on #2083
It's definitely not ideal to have "rows" showing side-by-side like that

[2022-08-07 20:07] Infocatcher commented on #2078
This bug report comes from my attempts to eliminate issues, that cused by MS WSH/JScript limitations (https://github.com/Infocatcher/AkelPad_scripts/blob/2022-08-02/jsBeautifier.js#L10000-L10045), so this is not a real problem for me, but if I find something else or possible fix, I'll post new issue or PR.

[2022-08-08 16:01] bitwiseman opened #2091 "Upgrade to CodeMirror 6"
Code mirror 6 has been released.  Migrating from 5.x to 6 will require some changes.
https://codemirror.net/docs/migration/

[2022-08-08 16:52] bitwiseman commented on #2083
Agreed, I was just trying to understand the severity of the problem.
Preserve newlines should work in this area, but it apparently has a bug.

[2022-08-08 16:56] bitwiseman commented on #2075
The beautifier doesn't have this functionality.  Adding this information would require some pretty deep changes, but feel free to file an issue (or even a PR if you want to do the work).

[2022-08-10 10:50] SimaDovakin commented on #2080
When you minify this example and then beautify it you get:
[code]
All 'yields' will be on the same line.

[2022-08-10 11:07] Owyn commented on #2080
Yea - that's also a problem which'd be nice to get fixed. But it's a separate issue [Owyn](https://github.com/beautify-web/js-beautify/issues?q=is%3Aissue+is%3Aopen+author%3AOwyn)

[2022-08-16 22:56] tterdgn opened #2092 "the obfuscated codes doesn't get beauty anymore"
the obfuscated codes are doesn't get beauty anymore, there is a problem on reading variables. https://javascriptobfuscator.com/Javascript-Obfuscator.aspx

[2022-08-18 07:13] bitwiseman commented on #2092
Please be more specific.

[2022-08-18 14:34] fk00750 commented on #2091
Hey @bitwiseman   can you assign me this issue

[2022-08-18 15:03] #2092 closed

[2022-08-19 13:05] HitkoDev opened #2093 "Globs no longer work on Windows in 1.14.5"
# Description
Glob 8, introduced in `1.14.5`, now treats backslashes (`\`) in input as escape characters (https://github.com/isaacs/node-glob/blob/main/changelog.md#80). Nopt on Windows expands paths passed as arguments to contain backslashes, so they no longer get matched by glob.

[2022-08-19 13:06] HitkoDev commented on #2093
@bitwiseman https://github.com/beautify-web/js-beautify/commit/e7c9dcb7f67b7494d29d8a62b17c362516f9c3cd

[2022-08-19 18:03] bitwiseman commented on #2093
@HitkoDev
A PR to fix this would be great. This made it in because the Windows CI builds were failing for other reasons.

[2022-08-21 04:25] #2093 closed

[2022-08-21 04:42] bitwiseman commented on #2093
@HitkoDev
Thanks!  Releasing the new version now.

[2022-09-02 15:23] domints commented on #1045
I appreciate this code but there’s small flaw in it - if you get map of something more complex, like React project with node_modules, you end up with zip with paths with `..` in front.
Thus I slightly modified this fiddle to wrap results in parent folder and resolve one level of `..`.

Here’s link: https://jsfiddle.net/re5814ko/8/

I tested it with main.js.map from app.storypoint.poker, and while

[2022-09-04 09:29] eiswind opened #2097 "HTML Comments at end of line should not be sent to a new line"
# Description
I think this is some regression, as it already has been fixed once in
https://github.com/beautify-web/js-beautify/issues/1337

seems to be broken now.

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:
[code]

#

[2022-09-08 13:17] cimenta opened #2098 "span issue"
# Description
there is an issue with <span> tag. For example

[code]

# Input
The code looked like this before beautification:
[code]
<div>
  <span>
  </span>
</div>
[code]
var html =<div><span></span> </div>  // does NOT work
//var html =<div> </div><span></span>  // does NOT work
//var html =<div><div> </div> </div><span><div> </div></span> // does NOT work
//var html =<span><div></div></span>

[2022-09-08 13:47] rasamassen commented on #1726
Posting here just hoping someone will tackle this feature request.

[2022-09-09 00:25] cwthedev commented on #2062
Just submitted a pull request for this (i apologize for editing the PR template)

[2022-09-20 23:32] diegoherrer4 commented on #2098
has anyone fixed this issue? I'd love to work on it

[2022-09-21 17:17] EktaEngineer commented on #1989
@lgarron can you  assign this issue to me

[2022-09-21 18:02] lgarron commented on #1989
That would be up to @bitwiseman.

In any case, I would still be glad to see this addressed.

[2022-09-21 18:08] lgarron commented on #1989
This might be a potential solution: https://github.com/beautify-web/js-beautify/commit/4885d5d9d4f0d1af485d8a13653a62d94cb6f959

[code]

[2022-09-21 18:31] EktaEngineer commented on #1989
@bitwiseman can you assign this issue to me

[2022-09-23 09:33] antoniusanggito commented on #2062
Hello, is this issue still open for contribution?

[2022-09-28 03:44] lugezuishuai opened #2102 "When can it support Java formatting"
# Description

# Input
With this new feature, when I give like this input:
[code]

# Expected Output
I'd like to see this output:
[code]

## Environment
OS:

[2022-09-28 03:45] mazhe-nerd opened #2103 "Does it support java format now?"
Excuse me，does it support java format now?

[2022-10-01 20:35] bitwiseman commented on #2103
No. There are many other tools for formatting Java.

[2022-10-01 20:35] #2103 closed

[2022-10-01 20:35] #2102 closed

[2022-10-01 20:39] bitwiseman commented on #1045
PRs welcome.

[2022-10-01 21:13] DiriectorDoc opened #2104 "Syntax highlighting breaks when using nullish coalescing operator (??) in template literals."
# Description
There seems to be a bug with the syntax highlighting. I'm not sure what's going on here, but this is not the first time I've seen a problem like this. My former IDE (Adobe Brackets) had this same issue.

# Input
The code looked like this before beautification:
[code]

# Expected Output
The code should have looked like this after beautification:
![image](https://user-images.githubuser

[2022-10-02 02:29] bitwiseman commented on #2104
Highlights on the site are provided by CodeMirror and not part of this project. We are using an older version, so this might be fixed already somewhere.

The failed highlight just means that that component doesn't understand the nullish operator.

[2022-10-10 19:20] Supraja9726 opened #2106 "[CVE-2022-37609]/Prototype pollution found in options.js."
Prototype pollution vulnerability in beautify-web js-beautify 1.13.7 via the name variable in options.js.
The prototype pollution vulnerability can be mitigated with several best practices described here: https://learn.snyk.io/lessons/prototype-pollution/javascript/

[2022-10-19 17:29] debadutta98 commented on #2045
Hi @bitwiseman, I would love to take up this issue can you please guide me on how I do this

[2022-10-19 23:21] eltonls commented on #2045
Can you assign me to that issue?

[2022-10-20 08:55] tamalchowdhury opened #2108 "Suggestion: Add #hacktoberfest tag to encourage participation"
Hi team, I read the opening statement in the `readme.md` that you are looking for contributors. Since [hacktoberfest](https://hacktoberfest.com) is going on, if you add the **hacktoberfest** tag in this repo you will both encourage and incentivize commits.

What are your thoughts on this?

[2022-10-21 15:49] iocmet opened #2109 "Detect obfuscators config option?"
I need deobfuscate really big js code but browser version of beautifier crashing with out of memory

[2022-10-21 15:54] #2109 closed, assigned to nobody

[2022-10-21 16:28] #1989 closed

[2022-10-21 16:54] santhos-13 commented on #2082
you just need to format the file

[2022-10-21 17:52] #2082 closed

[2022-10-21 17:59] bitwiseman commented on #2106
This report is incomplete to the point of useless.  Please reopen with specific line numbers or other details.

[2022-10-21 17:59] #2106 closed

[2022-10-21 18:02] bitwiseman commented on #1986
What is the expected output you'd like to see?

[2022-10-22 19:22] Abhay5855 commented on #2041
Can you assign me this issue please I can work on it @mhnaeem

[2022-10-22 22:16] mey-rin123 opened #2112 "nl"
# Description

# Input
With this new feature, when I give like this input:
[code]

# Expected Output
I'd like to see this output:
[code]

## Environment
OS:

[2022-10-22 22:17] #2112 closed

[2022-10-23 03:46] Rishi6229 commented on #1308
I am new here can you explain me the issue so I can work on this

[2022-10-26 10:18] highway2hell commented on #2106
Possbile way to implement this prototype pollution is like below:

var beautify = require('js-beautify');
var beautify_js = require('js-beautify').js;
var javascriptCode = "function print() { console.log('hello')}"

const options = { indent_size: 2, space_in_empty_paren: true, js:{ indent_size:4 } }
console.log(beautify_js(javascriptCode,options))

//Apply the prototype pollution
options.js.__prot

[2022-10-26 19:31] jackieju commented on #2106
Nice catching.
But you actually freeze Object.__proto__. I suggest using Object.create(null), which will create an instance without __proto__.

e.g.

[code]

[2022-10-27 09:43] cexbrayat opened #2113 "Allow to configure the "custom elements as inline elements" behavior"
# Description

Hi team! And thank you for your work on js-beautify.

I'm part of the Vue core team, and I'm one of the maintainers of the Vue Test Utils library. We use js-beautify in VTU to make the tested HTML prettier in the output. So for example, you can test something like:

[code]

There are thousands of tests out there that use this (VTU has 1.3 million downloads per week).

js-beautify v1

[2022-10-28 07:08] zjhua2002 commented on #2106
@bitwiseman please kindly analyze [CVE-2022-37609](https://nvd.nist.gov/vuln/detail/CVE-2022-37609) which was reported recently with high Base Score: [9.8 CRITICAL] and provide assessments, thanks.

[2022-10-28 19:19] jackieju commented on #2106
The suspicious code identified as weakness is here, according to cve record:
https://github.com/beautify-web/js-beautify/blob/6fa891e982cc3d615eed9a1a20a4fc50721bff16/js/src/core/options.js#L167
Actually the suspicious code will not lead to object prototype pollution, because it's not recursive or deep copy of two object.
Only
a["_proto_"][x]=1
will pollute.
But
a["__proto__"]={x:1}
will not pollu

[2022-10-29 06:33] bitwiseman commented on #2113
PR welcome.  It might make sense to reuse the existing `inline` setting and add the ability to do pattern matching.   Up to you.

...

Wait a minute.  Before you do any work, could you please show exactly what your input, desired output, and actual output are?  From you description it sounds like this could be a bug.

If I go to https://beautifier.io/ and put in:
[code]
This input remains unchange

[2022-10-29 10:40] cexbrayat commented on #2113
@bitwiseman I don't think this s a bug, sorry if I wasn't clear
- input:
[code]

- desired output (actual output of v1.14.6):
[code]

- actual output with v1.14.7:
[code]

Does that match what you're expecting after landing https://github.com/beautify-web/js-beautify/commit/aa82eb9ce664abadbcb454fd7a3a4d8de53dddec ?

Regarding the option, I was leaning towards adding an extra one to make things si

[2022-11-02 19:13] meena-kaliswamy commented on #2106
@bitwiseman I see that the tag (status: needs more info) has been removed, but the code has not been updated with @jackieju 's fix?

[2022-11-02 20:48] bitwiseman commented on #2106
@meena-kaliswamy
If you read his commens, it says:

And since js-beautify doesn't do that, no update is needed.

[2022-11-04 03:21] mhnaeem commented on #2091
@bitwiseman Is there a plan for this issue? The latest CodeMirror version does not support `<script>` tags anymore. Would the plan be to move to a build system like Webpack, Parcel, ESBuild, etc.

From migrations docs https://codemirror.net/docs/migration/:

[2022-11-11 11:41] cexbrayat commented on #2113
@bitwiseman I started a PR introducing a new `inline_custom_elements` option https://github.com/beautify-web/js-beautify/pull/2115 Let me know what you think

[2022-11-11 23:44] bitwiseman commented on #2091
@mhnaeem
I haven't looked into this task with any detail.
We already use webpack in our build.  If you want to take this on, please do.

[2022-11-12 00:48] bitwiseman commented on #2045
@eltonls
You are welcome to work on this.  There are few enough contributors that assign issues is not useful.

[2022-11-12 00:48] bitwiseman commented on #2062
@antoniusanggito
Please help with the existing PR.

[2022-11-17 09:12] Itemshopp commented on #2012
@bitwiseman The problem also occurs on modifiers here, let's take the example above :

[code]

As you can see, the first `lg:flex-row` has an additional space between the colon and the `flex` word
when formatted `lg:flex-row -> lg: flex-row`

This leads to an error when compiling.

Do you have any idea on correcting this ? Do I need to create a new issue for this ?

[2022-11-17 18:29] mhnaeem commented on #2052
Cannot reproduce, is this still an issue @ntnyq

[2022-11-18 02:25] ntnyq commented on #2052
Yeah, I confirm it still exist.

### Repro steps

1. Go to https://beautifier.io/ and select **Beautify CSS**
2. Copy the **input** section above and paste it into the code area
3. Add `"space_around_selector_separator": true` to **Additional Settings (JSON)**
4. Hit **Beautify Code** button

[2022-11-18 11:53] antoniusanggito commented on #2062
I'm creating a new pull request continuing from the previous PR by @cwthedev because I have no permission to push into his actual branch. You can close his previous PR, I'm sure to finish my PR in several days. ^^

[2022-11-19 18:29] hyunsooda opened #2119 "[Question] Function signature formatting"
Given text,
[code]
outputs is as follows
[code]

Desired output is:
[code]

I iterated all the currently supported options but the desired option seems not provided yet. Is there a consideration for function signature formatting?

Thanks.

[2022-11-24 09:35] #1852 closed

[2022-11-27 02:06] ToriDevz opened #2120 "issue with packer on python module"
# Description
I have noticed with the jsbeautifier library for python, certain code does not unpack. An example of this is:

[code]

# Expected Output
The code should have looked like this after beautification:
[code]

# Actual Output
The  code actually looked like this after beautification:
[code]

# Steps to Reproduce

Simply use this code provided above and try to run it

[code]

## Environment

[2022-11-28 08:01] #2062 closed

[2022-11-28 22:00] mhnaeem opened #2121 "Broken CI workflow due to incompatible NPM versions"
# Description
The Github action workflows are broken due to incompatible new version of NPM being run against Node. The offending code is below, it can easily be fixed if I can find out the original reason for its existence.
https://github.com/beautify-web/js-beautify/blob/12bc378bd465dc8771609c4a181d49462dbf7dd1/tools/npm#L7-L11

Error:
[code]

On a related note, @bitwiseman I was wondering why d